#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modulesContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}